{% extends 'base.html' %}
{%load static%}
{%block content%}


<section style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Добре дошли на сайта на "ВИТТЕ Аутомотив"</h1>
                <h3><strong>Ключови решения за автомобилния свят</strong></h3>
                <p>
                    От 1899 г. ВИТТЕ Аутомотив представлява иновативен и мощен ноу-хау в технически решения за заключващи
                    системи и благодарение на това тя се превръща в оперираща компания от глобален мащаб. Днес, ВИТТЕ
                    Аутомотив е сред технологичните лидери в областта на мехатронните системи за заключване, като
                    непрекъснато инвестира в разработването на иновативни системни решения за ключалки, предни и задни
                    капаци, интериор и седалки. Резултатите от инженерната работа са най-сложните продукти, които
                    съчетават механика, електротехника и електроника. Продуктите могат да бъдат намерени във всички
                    добре известни марки автомобили.</p>
            </div>
            <div class="col-md-6" style="display: flex;justify-content: flex-end;">
                <img src="{% static 'img/125.jpg' %}" alt="125years" style="height: 400px; ">
            </div>
        </div>
    </div>
</section>

{%endblock%}