{%extends 'base.html'%}
{%load static%}
{%block content%}
<style>
    #RegisterForm {
        background-image: url("{%static 'img/wt.png'%}");
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    #RegisterForm ul,
    #RegisterForm span{
    display:none}
    </style>
<div class="container" style="width: 50%">
    <form method="post" action="{% url 'register' %}" id="RegisterForm">
        {% csrf_token %}
        {{form.as_table}}
        <div>
            <button style="width: 100%" type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
{%endblock%}