{% extends 'base.html' %}
{% load static %}
<body>
{% block content %}
    <div class="container" style="margin-top: 30px">
    <form method="post" action="{% url 'transport' visitor.pk %}">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-6">

     <div class="form-group">
        <label for="{{ form.arrival_airport.id_for_label }}">Arrival Airport:</label>
        <input type="datetime-local" class="form-control" id="{{ form.arrival_airport.id_for_label }}"
               name="{{ form.arrival_airport.name}}" placeholder="YYYY-MM-DDTHH:MM">
     </div>

      <div class="form-group">
        <label for="{{ form.airport_to_wab.id_for_label }}">Airport to Wab:</label>
        <input type="datetime-local" class="form-control" id="{{ form.airport_to_wab.id_for_label }}"
         name="{{ form.airport_to_wab.name }}" placeholder="YYYY-MM-DDTHH:MM">
      </div>

        <div class="form-group">
            <label for="{{ form.airport_to_hotel.id_for_label }}">Airport to Hotel:</label>
            <input type="datetime-local" class="form-control" id="{{ form.airport_to_hotel.id_for_label }}"
            name="{{ form.airport_to_hotel.name }}" placeholder="YYYY-MM-DDTHH:MM">
        </div>

      <div class="form-group">
        <label for="{{ form.hotel_to_wab.id_for_label }}">Hotel to Wab:</label>
        <input type="datetime-local" class="form-control" id="{{ form.hotel_to_wab.id_for_label }}"
         name="{{ form.hotel_to_wab.name }}" placeholder="YYYY-MM-DDTHH:MM">
      </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.wab_to_hotel.id_for_label }}">Wab to hotel:</label>
            <input type="datetime-local"  class="form-control" id="{{ form.wab_to_hotel.id_for_label }}"
            name="{{ form.wab_to_hotel.name }}" placeholder="YYYY-MM-DDTHH:MM">
    </div>
  <div class="form-group">
    <label for="{{ form.wab_to_airport.id_for_label }}">Wab to airport:</label>
    <input  type="datetime-local" class="form-control" id="{{ form.wab_to_airport.id_for_label }}"
           name="{{ form.wab_to_airport.name }}" placeholder="YYYY-MM-DDTHH:MM">
</div>

 <div class="form-group">
    <label for="{{ form.hotel_to_airport.id_for_label }}">Hotel to airport:</label>
    <input type="datetime-local" class="form-control" id="{{ form.hotel_to_airport.id_for_label }}"
           name="{{ form.hotel_to_airport.name }}" placeholder="YYYY-MM-DDTHH:MM">
</div>

      <div class="form-group">
    <label for="{{ form.own_transport.id_for_label }}">Own Transport:</label>
    {{ form.own_transport }}
  </div>
  <div class="form-group">
    <label for="{{ form.parking.id_for_label }}">Parking:</label>
          {{ form.parking }}


  </div>
  <div class="form-group" style="display: none" id="parking_choice">
    <label for="{{ form.parking_choice.id_for_label}}">Choice parking:</label>
    {{ form.parking_choice }}
  </div>
    </div>
      <p style="color: red">{% if form.errors %}{% for error in form.errors %}
      	{{ error }}
      {% endfor %}
      {% endif %}</p>
  </div>

    <div class="row justify-content-center" style="margin-top: 100px">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
</form>
</div>
{% endblock %}

</body>
