{%extends 'base.html'%}
{%load static%}
{%block img%}
{%endblock%}
{%block content%}
<div class="container" style="width: 50%;">
    <form method="post" action="{% url 'create_visitor' %}" class="mt-4" style="font-weight: bold">
        {% csrf_token %}
        {{form.as_table}}
       <button type="submit" style="width: 100%" class="btn btn-success btn-lg btn-block">Create</button>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const arrivalInputs = document.querySelectorAll('.arrival_date');
    const departureInputs = document.querySelectorAll('.departure_date');

    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    const tomorrowFormatted = tomorrow.toISOString().split('T')[0];

    arrivalInputs.forEach(function(arrivalInput) {
        arrivalInput.min = tomorrowFormatted;
        arrivalInput.addEventListener('change', function() {
            const departureInput = this.parentNode.querySelector('.departure_date');
            departureInput.min = this.value;
            if (departureInput.value < this.value) {
                departureInput.value = this.value;
            }
        });
    });

    departureInputs.forEach(function(departureInput) {
        departureInput.addEventListener('change', function() {
            const arrivalInput = this.parentNode.querySelector('.arrival_date');
            if (this.value < arrivalInput.value) {
                arrivalInput.value = this.value;
            }
        });
    });
});
</script>
{%endblock%}