{%extends 'base.html'%}
{%load static%}
{%block img%}
{%endblock%}
{%block content%}
<div class="container" style="width: 50%;">
    <form method="post"action="{% url 'edit_visitor' visitor_id=visitor_id %}" class="mt-4" style="font-weight:bold;">
        {% csrf_token %}
        {{form}}
        <button type="submit" style="margin-top:10px; width: 100%" class="btn btn-success btn-lg btn-block">Save
        </button>
    </form>
</div>
<script>
    function updateHiddenDateFields() {
        const arrivalDate = document.getElementById('arrival_date').value;
        const departureDate = document.getElementById('departure_date').value;

        document.getElementById('id_day_of_arrival').value = arrivalDate;
        document.getElementById('id_day_of_departure').value = departureDate;
    }

</script>
<script>
    const arrivalInput = document.getElementById('arrival_date');
    const departureInput = document.getElementById('departure_date');
    const today = new Date().toISOString().split('T')[0];
    arrivalInput.min = today;

    arrivalInput.addEventListener('change', function() {
        departureInput.min = arrivalInput.value;
        if (departureInput.value < arrivalInput.value) {
            departureInput.value = arrivalInput.value;
        }
    });

    departureInput.addEventListener('change', function() {
        if (departureInput.value < arrivalInput.value) {
            arrivalInput.value = departureInput.value;
        }
    });
</script>
{%endblock%}