{%extends 'base.html'%}
{%load static%}
{%block img%}
{%endblock%}
{%block content%}
<style>
  table{
  text-align:center;
  font-weight: bold;
  }
  .table-buttons {
    width: 400px
  }

  .add-group-btn {
    margin-right: 10px;
    width: 100px;
  }
</style>
<a href="create_visitor" class="btn btn-success btn-lg btn-block" style="width: 100%; margin-top:20px;margin-bottom:0">Create visitor</a>
<table style="margin:0"
  id="table"
  data-search="false"
  data-pagination="true"
  datapagesize="6"
  data-page-list="[10, 25, 50, 100, all]"
  data-show-pagination-detail="false"
  data-show-extended-pagination="false"
  data-loading-text="false"
  data-url ='api_visitor'
  data-locale="en-US">
  <thead>
    <tr>
      <th data-field='first_name' data-sortable="true">First name</th>
      <th data-field='last_name' data-sortable="true">Last name</th>
      <th data-field='position' data-sortable="true">Position</th>
      <th data-field="priority" data-sortable="true">Priority</th>
      <th data-field="day_of_arrival" data-sortable="true" >Day of Arrival</th>
      <th data-field="day_of_departure" data-sortable="true">Day of Departure</th>
      <th data-field="add_group" data-formatter="addGroupFormatter" class="table-buttons" >Add Group</th>

    </tr>
  </thead>
</table>
<script>

   $(document).ready(function () {
    $('#table').bootstrapTable({
    });
  });
    function addGroupFormatter(value, row) {
    const editButton = '<a href="edit_visitor/' + row.id + '/" class="btn btn-primary add-group-btn mr-2" data-visit-id="' + row.id + '">Edit</a>';
    const deleteButton = '<a href="delete_visitor/' + row.id + '/" class="btn btn-danger add-group-btn" data-visit-id="' + row.id + '" onclick="return confirm(\'Сигурни ли сте, че искате да изтриете този запис?\')">Delete</a>';
      const ViewButton = '<a href="more_information/' + row.id + '/" class="btn btn-primary add-group-btn mr-2" data-visit-id="' + row.id + '">Meetings</a>';
    return editButton + deleteButton + ViewButton;
}
   </script>

{%endblock%}