{% extends "base.html" %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form method="post" style="background-color: #f5f5f5; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        {% csrf_token %}

        <div style="text-align: center; padding: 20px;">
            <label for="{{ form.username.id_for_label }}">Username</label><br>
            {{ form.username }}
        </div>

        <div style="text-align: center; padding: 20px;">
            <label for="{{ form.password.id_for_label }}">Password</label><br>
            {{ form.password }}
        </div>

        <div style="text-align: center; padding: 20px;">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
</div>
    {% endblock %}
